html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

* {
    box-sizing: border-box;
}
#footer {
    position: fixed;
    bottom: 20px;
    width: 1020px;
    height: 60px; /* Height of the footer */
    font-size: 14px;
    color: #7e7e7e;
}
@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
    body {
        color: white;
        background: black;
    }
}
